*{
            margin: 0;
            padding: 0;
        }
        article{
            background-color: bisque;
            text-align: center;
            margin: 20px; /* top,right,bottom,left */
            padding: 15px;
            border-radius: 10px;
        }